@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: "Roboto", sans-serif;
}

@layer components {
  .link {
    @apply px-6 py-2 hover:bg-black transition-all hover:text-[#4f46e5] font-bold cursor-pointer duration-300 rounded-full;
  }

  .logo {
    background: linear-gradient(180deg, #ffffff, #4f46e5, #000000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
