@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  background: url("https://wallpapers.com/images/hd/1920x1080-hd-space-1383gsypn0zj5qmt.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
  background-attachment: fixed;
}

@layer components {
  .link {
    @apply px-4 py-2 hover:bg-[#35B5C2] hover:text-black transition-all cursor-pointer duration-300 rounded-xl;
  }
}
